.home {
    background-image: url('./assets/speckle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.second {
    position: absolute;
    margin-top: 200px;
    margin-left: 85px;
}

.homeHdr {
    text-align: center;
    color: white;
    font-weight: bold;
}

.ufoImg {
    margin-top: 5vh;
    width: 125px;
    height: 125px;
}

.image {
    transition: transform .2s
}

.image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.lightbox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes lightSpeedOut {
    0% {
    opacity: 1;
    }
    100% {
    -webkit-transform: translate3d(100vh, 0, 0) skewX(30deg);
    transform: translate3d(100vh, 0, 0) skewX(30deg);
    opacity: 0;
    }
    }
    @keyframes lightSpeedOut {
    0% {
    opacity: 1;
    }
    100% {
    -webkit-transform: translate3d(100vh, 0, 0) skewX(30deg);
    transform: translate3d(100vh, 0, 0) skewX(30deg);
    opacity: 0;
    }
    } 

    .searchBar {
        position: sticky;
        z-index: 1;
        top: 0px;
        background: #212529;
    }