.home {
    background-image: url('./assets/speckle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.home > h1 {
    padding-top: 65px;
}

.ufoImg {
    margin-top: 5vh;
    width: 125px;
    height: 125px;
}

.image {
    transition: transform .2s
}

.image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.searchBar {
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    z-index: 1;
    top: 50px;
    background: #212529;
}

@media all and (max-width: 768px) {
    .center {
        text-align: center;
    }

    .button {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}